In [36]:
# EDA e Visualização de Dados
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
import seaborn as sns

# ML
from mlxtend.frequent_patterns import apriori, association_rules

# Carregar os Dados

In [37]:
# Carregar os dados
df_transacoes = pd.read_csv('datasets/transactions_by_dept.csv', sep=',')

In [38]:
df_transacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4539 entries, 0 to 4538
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   POS Txn  4539 non-null   uint64
 1   Dept     4539 non-null   object
 2   ID       4539 non-null   int64
 3   Sales U  4539 non-null   int64
dtypes: int64(2), object(1), uint64(1)
memory usage: 142.0+ KB

In [39]:
df_transacoes.head(10)

                POS Txn                       Dept   ID  Sales U
0  16120100160021008773               0261:HOSIERY  250        2
1  16120100160021008773  0634:VITAMINS & HLTH AIDS  102        1
2  16120100160021008773          0879:PET SUPPLIES  158        2
3  16120100160021008773                 0973:CANDY  175        2
4  16120100160021008773               0982:SPIRITS  176        1
5  16120100160021008773                  0983:WINE  177        4
6  16120100160021008773               0991:TOBACCO  179        2
7  16120100160021008774           0597:HEALTH AIDS   93        1
8  16120100160021008774         0604:PERSONAL CARE  100        5
9  16120100160021008775      0819:PRE-RECORDED A/V  135        1

In [40]:
df_transacoes.tail(10)

                   POS Txn                       Dept   ID  Sales U
4529  16120100160162000841  0857:PC PERIPH/OFFICE ACC  155        1
4530  16120100160162000841                  0931:BATH  165        1
4531  16120100160162000841               0941:BEDDING  167        1
4532  16120100160162000841               0991:TOBACCO  179        1
4533  16120100160162000842     0815:AUDIO ELECTRONICS  132        1
4534  16120100160162000843  0857:PC PERIPH/OFFICE ACC  155        1
4535  16120100160162000845   0395:MENS ATHLETIC SHOES   49        1
4536  16120100160162000845     0815:AUDIO ELECTRONICS  132        1
4537  16120100160162000846    0532:AMERICAN GREETINGS   72        1
4538  16120100160221001467  0066:VENDING/AMUSEMENT MA  242        1

# EDA

In [41]:
# Renomear as colunas para facilitar o entendimento
df_transacoes.rename(columns={'POS Txn': 'ID_Transacao', 'Dept': 'Departamento',
                              'ID': 'ID_Departamento', 'Sales U': 'Qtde_Vendida'}, inplace=True)

In [42]:
df_transacoes.head(10)

,ID_Transacao,Departamento,ID_Departamento,Qtde_Vendida
0,16120100160021008773,0261:HOSIERY,250,2
1,16120100160021008773,0634:VITAMINS & HLTH AIDS,102,1
2,16120100160021008773,0879:PET SUPPLIES,158,2
3,16120100160021008773,0973:CANDY,175,2
4,16120100160021008773,0982:SPIRITS,176,1
5,16120100160021008773,0983:WINE,177,4
6,16120100160021008773,0991:TOBACCO,179,2
7,16120100160021008774,0597:HEALTH AIDS,93,1
8,16120100160021008774,0604:PERSONAL CARE,100,5
9,16120100160021008775,0819:PRE-RECORDED A/V,135,1

In [43]:
# Quantidade de departamentos
df_transacoes['Departamento'].nunique()

160

In [44]:
# Quantidade de ID departamentos
df_transacoes['ID_Departamento'].nunique()

160

In [47]:
# Quantidade de Transacoes
df_transacoes['ID_Transacao'].nunique()

2064

In [53]:
# Um departamento aparece mais de 1x em uma transação?
len(df_transacoes.groupby(['ID_Transacao', 'Departamento'])) != len(df_transacoes)

False

In [56]:
# Checar se há quantidades negativas e 0
len(df_transacoes[df_transacoes['Qtde_Vendida'] <= 0])

149

In [57]:
# Remover as linhas com quantidade menor ou igual a 0
df_transacoes = df_transacoes[df_transacoes['Qtde_Vendida'] > 0]

In [59]:
# Quantidade de departamentos, ID departamentos, Transacoes
df_transacoes['Departamento'].nunique(), df_transacoes['ID_Departamento'].nunique(), df_transacoes['ID_Transacao'].nunique()

(156, 156, 1943)